%div{:id => 'comments'}
	%table{:id => 'sortable-table',:class => "table table-striped table-hover table-bordered"}
		%caption
			Comments
		%thead
			%th
				Actions
			%th{:scope => 'col'}
				Name
				%span.column-sorter
			%th{:scope => 'col'}
				Email
				%span.column-sorter
			%th
				URL
			%th
				Comment
			
			
		-@comments.each do |c|
			%tr
				%td
					.btn-group
						-if c.published == false

							=link_to content_tag(:i, '', :class => 'fontello-icon-publish') + " Publish", comment_status_path(@publication.id, @post.id,c.id,:published => true),:class => 'btn btn-primary btn-mini'
							
						-if c.published == true
							=link_to content_tag(:i, '', :class => 'fontello-icon-thumbs-down') + " Un-publish", comment_status_path(@publication.id, @post.id,c.id,:published => false),:class => 'btn btn-yellow btn-mini'

						=link_to content_tag(:i, '', :class => 'fontello-icon-trash-1') + " Delete", comment_status_path(@publication.id, @post.id,c.id,:remove => 1),:class => 'btn btn-red btn-mini'
				%td
					=c.name
				%td
					=c.email
				%td
					=c.url 
				%td
					=c.comment
					-if c.comment_id > 0
						=link_to "This comment was in response to", " ", :class => 'show-link'
						%div{:class => "element-shown"}
							%strong
								The above comment is responding to: 
							-respondingTo = @comments.find(c.comment_id)
							=respondingTo.comment




				