%table{:id => 'sortable-table',:class => "table table-striped table-hover table-bordered boo-table"}
	%caption
		FAQ's
	%thead
		%th
			Action
		%th{:scope => 'col'}
			Name

	-@clients.each do |client|
		%tr
			%td
				.btn-group
					=link_to content_tag(:i,'',:class => 'fontello-icon-pencil-1') +' Edit', edit_admin_client_path(client) , :class => 'fboxForm fancybox.ajax btn btn-mini btn-yellow'
					=link_to content_tag(:i,'',:class => 'fontello-icon-trash-4') +' Delete', admin_client_path(client), :comfirm => "Are you sure?", :method => :delete, :class => "btn btn-mini btn-danger"

			%td
				=client.name
