%table{:id => 'sortable-table',:class => "table table-striped table-hover table-bordered boo-table"}
	%caption
		Clients
	%thead
		%th
			Action
		%th{:scope => 'col'}
			Name
		%th
			Topics/Groups

	-@clients.each do |client|
		%tr
			%td
				.btn-group
					=link_to content_tag(:i,'',:class => 'fontello-icon-pencil-1') +' Edit', edit_admin_client_path(client) , :class => 'fboxForm fancybox.ajax btn btn-mini btn-yellow'
					=link_to content_tag(:i,'',:class => 'fontello-icon-trash-4') +' Delete', admin_client_path(client),  data: { confirm: 'Are you sure?' }, :method => :delete, :class => "btn btn-mini btn-danger"

			%td
				=client.name
			%td
				-client.topics.each do |topic|

					-if topic.name
						=link_to topic.name, admin_topic_path(topic)

						-if topic.groups.present?
							%strong
								Groups
							\:
							=topic.groups.map{|g| g.name}.join(", ").html_safe
							%br/
