=javascript_include_tag 'admin/modal_links.js'

%ul.form-list.label-left.list-bordered.form-horizontal
	%li.control-group
		=f.label :name, :class => "control-label"
		.controls
			=f.text_field :name, :class => "required"

	%li.control-group
		=f.label "Client can edit content", :class => "control-label"
		.controls
			=f.check_box :can_edit, :class => "required"

