=content_for :page_title do
  %h1.page-title
    Client
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical
        %li
          =link_to content_tag(:i,'',:class => 'fontello-icon-comment') + ' New FAQ',new_admin_client_path , :class => 'fboxForm fancybox.ajax'

=render 'clients'
  