=javascript_include_tag 'admin/modal_links.js'

:javascript
  $(document).ready(function() {
    // for rewrite form
    var rewriteForPage = $('#rewrite_for_page');
    var rewriteForPost = $('#rewrite_for_post');
    rewriteForPage.change(function(){
      $('#page').slideToggle();
      $('#post').hide();
    });

    rewriteForPost.change(function(){
      $('#post').slideToggle();
      $('#page').hide();
    });
  });

=form_for [:admin, @rewrite] do |f|
  .modal-header
    =link_to content_tag(:i, '',:class => "fontello-icon-cancel" ),'', :class=> "close close-form", 'aria-hidden' => "true"
    %h4
      =title
  .modal-body
    -if @rewrite
      =render 'shared/error_messages', :object => @rewrite 
    %ul.form-list.label-left.list-bordered.form-horizontal
      %li.control-group
        =f.label "Request URL *", :class => "control-label"
        .controls
          =f.text_field :request_path,:class => 'required'
      %li
        %h4
          Rewrite for
        %label.radio.inline
          .radios
          =radio_button_tag("rewrite_for", "page")
          Page Rewrite

        %label.radio.inline
          .radios
          =radio_button_tag("rewrite_for", "post")
          Post Rewrite

      %li.control-group#page.hide
        =f.label "Page Target Path", :class => "control-label"
        .controls
        -navigation_groups = Navigation.all
        =grouped_collection_select(:rewrite, :page_id, navigation_groups, :pages, :nav_group, :id, :url_path)

      %li.control-group#post.hide
        =f.label "Post Target Path", :class => "control-label"
        .controls
        -publications = Publication.all
        =grouped_collection_select(:rewrite, :post_id, publications, :posts, :title, :id, :title)

      =f.hidden_field :created_by, :value => current_user.id
  .modal-footer
    =f.submit "Save", :class =>'btn btn-primary'