%div{:class => "to-many-lines alert alert-error"}
  Too many lines.
%ul.form-list.label-left.list-bordered.form-horizontal
  %li.control-group
    .span3.clear-both
      =f.text_area :content, :class => "ad-content"
    .span2.counter
      .counter-one-container
        Line one:
        %span.count-one

      .counter-two-container
        Line two:
        %span.count-two

      .counter-three-container
        Line three:
        %span.count-three

    -if @group.keywords.count > 0
      .span3.keyword-edit-container
        -@group.keywords.each do |k|
          =k.word
          %br/

  %li.control-group
    %label.checkbox.inline
      =f.check_box :selected
      Selected
  %li.control-group
    -if @group
      =f.hidden_field :group_id, :value => @group.id 
    -else
      =f.hidden_field :group_id
      