= content_for :page_title do
  %h1
    User

%div{:id => "version"}
  %table{:class => "table table-striped table-hover table-bordered boo-table"}
    %caption
      User Version
    %thead
      %th
        Attribute
      %th
        Current Version
      %th
        Previous Version
        =link_to "Restore", undo_path(:undo => @record.item_type,:vid => @record.id),:class => 'btn btn-envato btn-mini'
    %tr
      %td
        First Name
        =compare_properties(@version.first_name, @version.previous_version.first_name)
      %td
        =@version.first_name
      %td
        =@version.previous_version.first_name
    %tr
      %td
        Last Name
        =compare_properties(@version.last_name, @version.previous_version.last_name)
      %td
        =@version.last_name
      %td
        =@version.previous_version.last_name
    %tr
      %td
        Email
        =compare_properties(@version.email, @version.previous_version.email)
      %td
        =@version.email
      %td
        =@version.previous_version.email
    %tr
      %td
        Title
        =compare_properties(@version.title , @version.previous_version.title)
      %td
        =@version.title
      %td
        =@version.previous_version.title
    %tr
      %td
        Phone
        =compare_properties(@version.phone , @version.previous_version.phone)
      %td
        =@version.phone
      %td
        =@version.previous_version.phone
    %tr
      %td
        Twitter
        =compare_properties(@version.twitter , @version.previous_version.twitter)
      %td
        =@version.twitter
      %td
        =@version.previous_version.twitter
    %tr
      %td
        Facebook
        =compare_properties(@version.facebook , @version.previous_version.facebook)
      %td
        =@version.facebook
      %td
        =@version.previous_version.facebook
    %tr
      %td
        Linkedin
        =compare_properties(@version.linkedin , @version.previous_version.linkedin)
      %td
        =@version.linkedin
      %td
        =@version.previous_version.linkedin
    %tr
      %td
        Bio
        =compare_properties(@version.bio , @version.previous_version.bio)
      %td
        =@version.bio.html_safe
      %td
        =@version.previous_version.bio.html_safe
    %tr
      %td
        Image
      %td
        =image_tag @version.image_url(:small)
      %td
        No previous version saved.
