=content_for :page_title do
  %h1.page-title
    Footers
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical
        %li
          =link_to content_tag(:i,'',:class => 'fontello-icon-plus-1') + ' New footer',new_admin_footer_path , :class => 'fboxForm fancybox.ajax'

=render 'footers'