=content_for :page_title do
	%h1.page-title
		Edit
		=@slider.title

.navbar.navbar-page
	.navbar-inner
		.container
			%ul.nav.pull-right
				%li.divider-vertical
				%li
					=link_to content_tag(:i, '' ,:class => 'fontello-icon-back') + " Back to sliders", admin_sliders_path
				%li.divider-vertical
				%li
					=link_to content_tag(:i, '' ,:class => 'fontello-icon-plus-1') + " New Slide", new_admin_slider_slide_path(@slider)


	
=render 'form'
