=content_for :page_title do	
  %h2
    New slider

.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical
        %li
          =link_to content_tag(:i, '' ,:class => 'fontello-icon-back') + " Back to sliders", admin_sliders_path

=render 'form'
