=content_for :page_title do
  %h1.page-title
    Testimonials
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical
        %li
          =link_to content_tag(:i,'',:class => 'fontello-icon-comment') + ' New Testimonial', new_admin_testimonial_path, :class => 'fboxForm fancybox.ajax'

=render 'testimonials'