.tabbable 
  %ul.nav.nav-tabs
    %li.active
      %a
        Original
        =render partial: "admin/topics/index_of_copy", locals: {copy: copy, index: index}
        =render partial: "admin/topics/checkboxes", locals: {copy: copy, index: index}

  .tab-content
    .tab-pane.active
      .copy-content
        =render partial: "admin/topics/content_per_network", locals: {group: group, copy: copy}
        =render partial: "admin/topics/editor", locals: {group: group, copy: copy}
        
        .clear-both
        =render partial: "admin/topics/selected_form", locals: {copy: copy}
        .btn-group
          =link_to content_tag(:i,'',:class => 'fontello-icon-edit') + " Edit", edit_admin_topic_group_copy_path(@topic, group, copy), :class => "btn btn-sky btn-mini edit-copy fboxForm fancybox.ajax", :data => {:textarea => "copy_content", :network => "#{group.network}"}

          =link_to content_tag(:i,'',:class => 'fontello-icon-trash-4') +' Delete', admin_topic_group_copy_path(@topic,group, copy), :comfirm => "Are you sure?", :method => :delete, :class => "btn btn-mini btn-danger"
        