=javascript_include_tag 'admin/modal_links.js'

%ul.form-list.label-left.list-bordered.form-horizontal
	%li.control-group
		=f.label "Name *", :class => "control-label"
		.controls
			=f.text_field :name, :class => "required"
	%li.control-group
		=f.label "Client", :class => "control-label"
		.controls
			=f.collection_select(:client_id, @clients, :id, :name)

