.network
  %strong
    Network:

  -if group.network == "Twitter"
    =image_tag "../social_icons/16px/twitter.png"
  -if group.network == "Google"
    =image_tag "../social_icons/16px/google.png"
  -if group.network == "FaceBook Ad"
    =image_tag "../social_icons/16px/facebook.png"
  -if group.network == "FaceBook Post"
    =image_tag "../social_icons/16px/facebook.png"
  -if group.network == "LinkedIn"
    =image_tag "../social_icons/16px/linkedin.png"
  =group.network