.tabbable 
  %ul.nav.nav-tabs
    -copy.alternates.where(:is_duplicate => "true").each_with_index do |c,i|
      -if i == 0
        %li.active
          %a{:href => "#v#{c.id}", :data => {:toggle => "tab"}}
            =selected_version(c.selected, i)
            =render partial: "admin/topics/checkboxes", locals: {copy: c, index: index}

      -else
        %li
          %a{:href => "#v#{c.id}", :data => {:toggle => "tab"}}
            =selected_version(c.selected, i)
            =render partial: "admin/topics/checkboxes", locals: {copy: c, index: index}

  .tab-content
    -copy.alternates.where(:is_duplicate => "true").each_with_index do |c ,i|
      -if i == 0
        %div{:class => 'tab-pane active', :id => "v#{c.id}"}
          =render partial: "admin/topics/duplicates", locals: {group: group, copy: c} 
          -if current_user
            =render partial: "admin/topics/selected_form", locals: {group: group, copy: c}

      -else
        %div{:class => 'tab-pane', :id => "v#{c.id}"}
          =render partial: "admin/topics/duplicates", locals: {group: group, copy: c}
          -if current_user
            =render partial: "admin/topics/selected_form", locals: {group: group, copy: c}


