=content_for :page_title do
  %h1.page-title
    %i.fontello-icon-comment.opaci35
    Topics
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical
        %li
          =link_to content_tag(:i,'',:class => 'fontello-icon-comment') + ' New Topic',new_admin_topic_path , :class => 'fboxForm fancybox.ajax'

=render 'topics'

.well.well-nice
  %h3
    Upload ad report

  =form_tag import_admin_topics_path(:user => current_user), multipart: true  do |f|
    =file_field_tag :file
    =submit_tag "Import", :class => 'btn btn-mini btn-yellow' 

.well.well-nice
  %h3
    Upload keywords spreadsheet

  =form_tag keywords_admin_topics_path(:user => current_user), multipart: true  do |f|
    =file_field_tag :file
    =submit_tag "Import", :class => 'btn btn-mini btn-yellow'   