%table
	%thead
		%tr
			%td
				Ad state
			%td
				Ad
			%td
				Description line 1
			%td
				Description line 2
			%td
				Display URL
			%td
				Destination URL
			%td
				Campaign
			%td
				Status
	%tbody
		-@topic.groups.each do |group|
			-group.copies.each do |copy| 
				-con = copy.content.lines.map(&:chomp)
				%tr
					%td
						enabled
					%td
						=con[0] 
					%td
						=con[1] 
					%td
						=con[2] 
					%td
						=group.display_url 
					%td
						=group.destination_url 
					%td
						=@topic.name 
					%td
						=group.name 
					%td
						approved
					%td

