.header-drawer
	.mobile-nav.text-center.visible-phone
		%a.mobile-btn{"data-toggle" => "collapse", 'data-target' => '.sidebar', :href => "javascript:void(0);"}
			%i.fontello-icon-down-open-1 Components