#flash-review-show.front-end
  #form-remote.widget.widget-box
    .widget-header
      %h1
        -if @banner.client
          =@banner.client.name
          \: Banner Review
    .widget-content
      .widget-body
        -@banner.swfs.each do |swf|
          = render 'admin/swfs/flash_wrapper', :swf => swf