%div{:class => 'section-toolbar top'}
	%ul
		%li
			=link_to 'Add Content', '#',:class => 'round-right'
			%div{:class => 'section-links'}
				%div{:class => 'data-container-header'}	
					%p
						Choose section to create.
				%div{:class => 'section-tabs'}
					%ul
						%li
							=link_to 'Text', modal_link('text',location,''), :class => 'fbox  fancybox.ajax'
						%li
							=link_to 'HTML', modal_link('html',location,''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to 'Tabbed', modal_link('tabbed',location,''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to 'Accordion', modal_link('accordions',location,''), :class => 'fboxForm  fancybox.ajax'				
						%li
							=link_to 'Table', modal_link('table',location,''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to 'Columns', modal_link('columns',location,''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to 'Slide Show', modal_link('slideshow',location,''), :class => 'fboxForm  fancybox.ajax'

					%div{:class => 'function-list'}
						%span
						Functions
					%ul{:class => "dynamic-content"}
						
						%li
							=link_to "Galleries/Playlists", modal_link('collections',location, ''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to "Asset by category", modal_link('asset by category',location, ''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to "Publications", modal_link('publications',location, ''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to "Publication Categories", modal_link('publication categories',location, ''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to "Publication Archives", modal_link('publication archives',location, ''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to "Shared Content", modal_link('shared content',location, ''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to "Testimonials", modal_link('testimonials',location, ''), :class => 'fboxTop  fancybox.ajax'
						%li
							=link_to "Faqs", modal_link('faqs',location, ''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to "Custom Forms", modal_link('custom forms',location, ''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to "Social & Rss", modal_link('social rss',location, ''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to "Navigation Group", modal_link('nav group',location, ''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to "Navigation Branch", modal_link('nav branch',location, ''), :class => 'fboxForm  fancybox.ajax'
						%li
							=link_to "YouTube", modal_link('youtube',location, ''), :class => 'fboxForm  fancybox.ajax'
-if @page || @publication
	%div{:class => "move-content-toolbar"}
		%ul
			%li
				=link_to "In","#", :class => 'move-data round-right', :data => {:stat => "0-0-0-#{set_resource_id}-#{location}"}
			%li{:class => "hide-move-content-toolbar"}
				=link_to "Cancel","#",:class => 'round-left'