#form-remote
  =form_for [:admin, @link], :html => {:id => "edit_link"} do |f|
    .modal-header
      =link_to content_tag(:i, '',:class => "fontello-icon-cancel" ),'', :class=> "close close-form", 'aria-hidden' => "true"
      %h4
        Edit Link
    .modal-body
      -if @link
        =render 'shared/error_messages', :object => @link 
      =render "admin/links/form_fields", :f => f
    .modal-footer
      =f.submit "Save", :class =>'btn btn-primary'