%div{:class => "thumbnail media #{i.categories.collect{|c| c.name}.join(' ')}","data-asset" => "#{i.id}", :style => 'list-style:none;'}
  .media-body
    %h4.media-heading
      %i.fontello-icon-youtube
      =i.title

  %small
    Categories: 
    =i.categories.collect{|c| c.name}.join(', ')
  %div
    =link_to content_tag(:i, "", :class => 'fontello-icon-exchange') + " Add to gallery" ,'#', :class => 'asset-transfer-link btn btn-mini btn-yellow'