%table{:id => 'sortable-table',:class => "table table-striped table-hover table-bordered boo-table"}
	%caption
		Flash Reviews
	%thead
		%th
			Action
		%th{:scope => 'col'}
			Client
			%span.column-sorter
		%th
			Flash Files
		%th
			URL
	-@flash_reviews.each do |flash_review|
		%tr
			%td
				.btn-group
					=link_to content_tag(:i,'',:class => 'fontello-icon-pencil-1') +' Edit', edit_admin_flash_review_path(flash_review) , :class => 'btn btn-mini btn-yellow'
					
					=link_to content_tag(:i,'',:class => 'fontello-icon-upload') + ' New swf',new_admin_swf_path(:flash_review => flash_review.id), :class => 'fboxForm fancybox.ajax btn btn-mini btn-green'

					=link_to content_tag(:i,'',:class => 'fontello-icon-trash-4') +' Delete', admin_flash_review_path(flash_review),  data: { confirm: 'Are you sure?' }, :method => :delete, :class => "btn btn-mini btn-danger" 

			%td
				=flash_review.client.name
			%td
				-flash_review.swfs.each do |swf|
					=link_to swf.title, admin_swf_path(swf), :class => 'flashBox fancybox.ajax'
					%br/
			%td
				-if flash_review.swfs.count > 0
					=link_to "Flash Review Page",flash_medium_path(flash_review.secure_url), :target => 'blank'
					%br/
					%p
						Enter email address one line at a time. 
						%br/
						No commas or periods after email address.
						=form_for [:admin, flash_review] do |f|
							=f.text_area "users"
							=f.hidden_field :id, :value => flash_review.id
							=submit_tag "Send", :class =>'btn btn-primary'
