=content_for :page_title do
	%h1.page-title
		New Flash Review Builder

.navbar.navbar-page
	.navbar-inner
		.container
			%ul.nav.pull-right
				%li

%ul.form-list.label-left.list-bordered.form-horizontal
	%li.control-group
		=f.label "Client", :class => "control-label"
		.controls
			=f.collection_select(:client_id, @clients, :id, :name)

%ul.form-list.label-left.list-bordered
	%li.section-form
		%h4
			Flash Files
	%li.control-group
		%table{:id => 'sortable-table',:class => "table table-striped table-hover table-bordered boo-table"}
			%caption
				Flash Files
			%thead
				%th
				
				%th
					Title
				%th{:scope => 'col'}
					size

			-for swf in Swf.all
				%tr
					%td
						=check_box_tag "flash_review[swf_ids][]",swf.id, @flash_review.swfs.include?(swf), :id => swf.id
					%td
						%label.checkbox.inline
							=swf.title
					%td
						=swf.width
						x
						=swf.height
					

