=content_for :page_title do
  %h1.page-title
    %i.fontello-icon-comment.opaci35
    Banner Review Builder
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical
        %li
          =link_to content_tag(:i,'',:class => 'fontello-icon-comment') + ' New Flash Review Builder',new_admin_flash_review_path , :class => ''

=render 'flash_reviews'
  