/*---------- =errors ----------*/

#error_explanation {
	background: #fccac1;
	border: 1px solid #eb5439;
	color: #565656;
	padding:0.8em;
	margin-bottom:1em;
	h3 {	
	color:#8a1f11;
	background: none!important;
	border: none!important;
	text-shadow: none;
	}
	p {
		padding:0;
		color:#8a1f11;
	}
	ul {
		list-style:none;
		li{
			padding:0;
			color:#8a1f11;
		}
	}
}

.field_with_errors {
	display: inline;
	label {
		color: #eb5439;
		}
	input,
	textarea {
		border: 1px solid #eb5439 !important;
		}
	}

#main-alert {
	top: 0;
	position: fixed;
	width: 70%;
	z-index: 10000;
}
/*----------  End ----------*/
