@import "partials/variables";

#topic-show .btn {
	/*display:none;*/
}

#new_copy .btn {
	display: inline-block;
}

#topic-show ul {
	list-style: none;
}

#topic-show .widget-footer .btn {
	display: inline-block;
}
.topics.show h3 {
	margin: 0;
}

.ad-content {
	margin-top: 20px;
	width: 250px;
	height: 200px;
}

.counter {
	margin-top: 20px;
}

.counter-error {
	color: red;
}

.copy-content {
	/*clear: both;*/
	float: left;
}

.group-copy {
	margin: 0;
	 > li {
		overflow: auto;
		padding: 5px 0;
	}
	p {
		margin: 0;
		padding: 0;
	}
}

.index-of-copy {
	margin-top: -2px;
}

.index-of-copy.selected {

}

.group-name h2 {
	border-bottom: 1px solid #CCC;
}

.network {
	clear: both;
}


#topic-show a .selected-version {

}

#topic-show a .non-selected-version {

}

.tabbable li a {
	color: #555;
}

@media (min-width: 768px) {
	.text-right {
		text-align: right;
	}
}

.to-many-lines {
	display: none;
}


.fancybox-inner ul {
	list-style: none;
	margin:0;
	padding: 0;
}

.fancybox-inner .edit_copy,
.fancybox-inner .new_copy {
	border:none;
	padding:0;
	background: white;
}


.copy {
	margin: 2px 0;
	padding: 2px 0;
	clear:both;
	overflow: auto;
	p {
		margin: 0;
		padding: 0;
	}
}


/* alt copies */
.alt-group-copy {
	overflow: auto;
	margin: 0;
	padding: 0;
	 > li {
	 	margin: 5px 0;

	 }
}

#send-to {
	display: none;
}

/*front */
.front-form {
	border: 1px solid #CCC;
	background: #EFEFEF;
	margin: 0 0 10px 0;
}

#topic-show.front-end {
	ul {
		list-style: none;
	}

	.group {
		padding: 50px 0 20px 0;
		margin-top: 10px;
		overflow: auto;
	}
	.nav-tabs {
		margin-bottom: 5px;
	}
	.btn-group {
		margin: 10px 0;
	}
}

.google-display {
	padding: 5px;
}

.google-display {
	color: #333!important;
	margin: 10px 0 ;
	border: 1px solid #CCC;
}

.google-display .google-ad-header {
	color: blue;
	font-size: 18px;
}

.ads-visurl {
	color: #006621;
	white-space: nowrap;
	font-size: 14px;
}