.keywords table th {
	font-size: 12px;
	font-weight: normal;
	border-bottom: 1px solid #CCC;
}

.keyword-edit-container {
	height: 220px;
	padding: 5px;
	border: 1px solid #CCC;
	overflow: scroll;
	background-color: white;
}
