<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flash banner ad(s) are ready for review.</h1>
    <p>
      Please go to <%= link_to "Review", @url %>
    </p>
  </body>
</html>