-if s.asset_by_category.name == 'Images'
  =render 'site/functions/image_by_category', :s => s

-if s.asset_by_category.name == "Documents"
  =render 'site/functions/document_by_category', :s => s

-if s.asset_by_category.name == 'Audios'
  =render 'site/functions/audio_by_category', :s => s

-if s.asset_by_category.name == 'Videos'
  =render 'site/functions/video_by_category', :s => s

-if s.asset_by_category.name == 'Users'
  =render 'site/functions/user_by_category', :s => s

-if s.asset_by_category.name == 'Links'
  =render 'site/functions/link_by_category', :s => s

