%table.table.table-striped
  %thead
    %th
      Image Label
    %th
      Width
    %th
      Height
  %tr
    %td
      square75 
    %td
      75px 
    %td
      75px
  %tr
    %td
      square100 
    %td
      100px
    %td
      100px
  %tr
    %td
      square150 
    %td
      150px
    %td
      150px
  %tr
    %td
      square200 
    %td
      200px
    %td
      200px
  %tr
    %td
      square260 
    %td
      260px
    %td
      260px
  %tr
    %td
      horizontal75 
    %td
      75px 
    %td
      7px
  %tr
    %td
      horizontal100 
    %td
      100px
    %td
      63px
  %tr
    %td
      horizontal150 
    %td
      150px
    %td
      94px
  %tr
    %td
      horizontal200 
    %td
      200px
    %td
      125px
  %tr
    %td
      horizontal260 
    %td
      260px
    %td
      162px
  %tr
    %td
      vertical75 
    %td
      75px 
    %td
      20px
  %tr
    %td
      vertical100 
    %td
      100px
    %td
      160px
  %tr
    %td
      vertical150 
    %td
      150px
    %td
      240px
  %tr
    %td
      vertical200 
    %td
      200px
    %td
      320px
  %tr
    %td
      vertical260 
    %td
      260px
    %td
      416px
  