%div{:class => 'action-nav-top'}
	%ul
		%li
			=link_to "Back to Site Settings"
%div{:class => 'data-container full'}
	%div{:class => 'data-container-header'}
		%h2
			New Settings
	=render 'form'
%div{:class => 'clear-both'}