%table{:id => 'sortable-table',:class => "table table-striped table-hover table-bordered boo-table"}
	%caption
		Categories
	%thead  
		%th
			Action
		%th{:scope => 'col'}
			Category 
			%span.column-sorter
				
		%th{:scope => 'col'}
			Use in 
			=link_to 'Publication', admin_publications_path 
			Posts
		%th
			Use in 
			=link_to 'Images', admin_images_path
		%th
			Use in 
			=link_to 'Documents', admin_documents_path
		%th
			Use in 
			=link_to 'Audio', admin_audios_path
		%th
			Use in 
			=link_to 'Video', admin_youtubes_path
		%th
			Use in 
			=link_to 'Users', admin_users_path
			
	-@categories.each_with_index do |category, i|
		%tr
			%td
				.btn-group
					=link_to content_tag(:i,'',:class => 'fontello-icon-pencil') + ' Edit',edit_admin_category_path(category), :class => 'fboxForm fancybox.ajax btn btn-mini btn-yellow'
					=link_to content_tag(:i,'',:class => 'fontello-icon-trash-4') + ' Delete', admin_category_path(category),:data => {:data => {:confirm => 'Are you sure?'}}, :method => :delete, :class => 'btn btn-mini btn-danger'
					
			%td{:class => 'category-title'}
				=category.name 
			%td{:class => 'align-center'}
				=form_for [:admin, category], :remote => true do |f|
					=f.check_box :post, :class => 'submittable'
					=f.submit :style => 'display:none; width:0;'
			%td{:class => 'align-center'}
				=form_for [:admin, category],:remote => true do |f|
					=f.check_box :image, :class => 'submittable'
					=f.submit :style => 'display:none;width:0;'
			%td{:class => 'align-center'}
				=form_for [:admin, category], :remote => true do |f|
					=f.check_box :document, :class => 'submittable'
					=f.submit :style => 'display:none; width:0;'
			%td{:class => 'align-center'}
				=form_for [:admin, category], :remote => true do |f|
					=f.check_box :audio, :class => 'submittable'
					=f.submit :style => 'display:none;width:0;'
			%td{:class => 'align-center'}
				=form_for [:admin, category], :remote => true do |f|
					=f.check_box :video, :class => 'submittable'
					=f.submit :style => 'display:none;width:0;'
			%td{:class => 'align-center'}
				=form_for [:admin, category], :remote => true do |f|
					=f.check_box :user, :class => 'submittable'
					=f.submit :style => 'display:none;width:0;'
