=form_for [:admin, @category], :html => {:id => "edit_category"} do |f|
  .modal-header
    =link_to content_tag(:i, '',:class => "fontello-icon-cancel" ),'', :class=> "close close-form", 'aria-hidden' => "true"
    %h4
      Edit 
      =@category.name
  .modal-body
    -if @category
      =render 'shared/error_messages', :object => @category 
    =render "admin/categories/form_fields", :f => f
  .modal-footer
    =f.submit "Save", :class =>'btn btn-primary'