=content_for :page_title do
  %h1.page-title
    Categories
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical
        %li
          =link_to content_tag(:i, '',:class => " fontello-icon-pencil-1" ) + ' New Category', new_admin_category_path, :class => 'fboxForm fancybox.ajax'

=render 'categories'
