@import "variables";

#mobile-nav {
	margin-left: -$mobileConstant;
	width: $mobileConstant;
	@include navTrans;
	&.show-nav {
		margin-left: -$mobileConstant;
	}
}
a#menu-btn {
	margin:.5em;
	font-size: 1.5em;
	&:hover {
		text-decoration:none;
	}
}

/* ------------------------------------------------------------------------
	moblile nav
------------------------------------------------------------------------- */
#mobile-nav {
	background: #444;
	padding: 0;
	position: absolute;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			position: relative;
			a {
				display: block;
				color: $defaultLinkColor;
				text-decoration: none;
				border-bottom: 1px solid $defaultLinkColor;
				padding: 5px;
				&:hover {
					color: darken($defaultLinkColor, 20);
				}
			}
			.show-sub {
				display: block;
				width: 30px;
				height: 30px;
				position: absolute;
				right:0;
				top: 0;
				background: image-url('sub-nav-arrow.png') left top no-repeat;
				&.down {
					background-position: left -30px;
				}
			}
		}
		ol {
			list-style: none;
			padding: 0;
			margin: 0;
			display: none;
			li {
				a {
					
					margin-left: 15px;
					&:hover {
						color: darken($defaultLinkColor, 10);
					}
				}
			}
		}
	}
}
