%li.control-group
  =f.label "Document *", :class => "control-label"
  .controls
    =f.file_field :document
%li.control-group
  =f.label "Title *", :class => "control-label"
  .controls
    =f.text_field :title, :class => "required"
%li.control-group
  =f.label :description, :class => "control-label"
  .controls
    =f.text_area :description,:rows => 3