=form_for @keyword do |f|
  .modal-header
    %h4
      New Keyword
  .modal-body
    -if @keyword
      =render 'shared/error_messages', :object => @keyword 

    %ul.form-list.label-left.list-bordered.form-horizontal
      %li.control-group
        =f.label :word, :class => "control-label"
        .controls
          =f.text_field :word, :class => "required"
      %li.control-group
        =f.label :is_chosen, :class => "control-label"
        .controls
          =f.check_box :is_chosen,  {checked: false}

      %li.control-group
        =f.label :under_review, :class => "control-label"
        .controls
          =f.check_box :under_review,  {checked: true}

      =f.hidden_field :review_url, :value => @review.url

      -if @group
        =f.hidden_field :group_id, :value => @group.id 
      -else
        =f.hidden_field :group_id

  .modal-footer.submit-group
    =f.submit "Save", :class =>'btn btn-primary'