=content_for :page_title do
  %h1.page-title
    Custom Forms
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical
        %li
          =link_to content_tag(:i,'',:class => 'fontello-icon-plus-1') + ' New custom form',new_admin_form_path
   
=render 'custom_forms'