=content_for :page_title do
  %h1.page-title
    New Form
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical
        %li
          =link_to content_tag(:i, '', :class => 'fontello-icon-doc-1') + ' Forms', admin_forms_path

#custom-forms
  =render 'form'