=content_for :page_title do
  %h1.page-title
    Publications
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical
        %li
          =link_to content_tag(:i,'',:class => 'fontello-icon-plus-1') +' New Publication', new_admin_publication_path

=render 'publications'
