=javascript_include_tag 'admin/modal_links.js'
:javascript
	$(document).ready(function() {
		// groups start and end date
		$("#group_start_date" ).datepicker();
		$("#group_end_date" ).datepicker();
	});

%ul.form-list.label-left.list-bordered.form-horizontal
	%li.control-group
		=f.label :name, :class => "control-label"
		.controls
			=f.text_field :name, :class => "required"

	%li.control-group
		%label.radio.inline
			=f.radio_button :network, "Google"
			Google
		%label.radio.inline
			=f.radio_button :network, "Twitter"
			Twitter
		%label.radio.inline
			=f.radio_button :network, "FaceBook Ad"
			FaceBook Ad
		%label.radio.inline
			=f.radio_button :network, "FaceBook Post"
			FaceBook Post
		%label.radio.inline
			=f.radio_button :network, "LinkedIn"
			LinkedIn

	%li.control-group
		%label.inline.checkbox
			=f.check_box :is_card
			Twitter Card?

	%li.control-group
		=f.label :destination_url, :class => "control-label"
		.controls
			=f.text_area :destination_url

	%li.control-group
		=f.label :display_url, :class => "control-label"
		.controls
			=f.text_area :display_url

	%li.control-group
		=f.label :keywords, :class => "control-label"
		.controls
			=f.text_area :keywords

			-if @topic
				=f.hidden_field :topic_id, :value => @topic.id 
			-else
				=f.hidden_field :topic_id

	%li.control-group
		=f.label :start_date, :class => "control-label"
		.controls
			=f.text_field :start_date 

	%li.control-group
		=f.label "End date (optional)", :class => "control-label"
		.controls
			=f.text_field :end_date

	%li.control-group
		=f.label :image, :class => "control-label"
		%div{:class => "controls"}
			=f.file_field :image
			.help-block
				Upload a new image if you wish

		-if @group.image?
			%li.control-group
				%label.checkbox
					= f.check_box :remove_image
					= f.hidden_field :image_cache
					Remove current image