=javascript_include_tag 'admin/modal_links.js'

%ul.form-list.label-left.list-bordered.form-horizontal
  %li.control-group
    =f.label "Image *", :class => "control-label"
    .controls
      -if controller.action_name == 'new'
        -required = 'required'
      =f.file_field :image,:class => required
      
  %li.control-group
    =f.label "Title *", :class => "control-label"
    .controls
      =f.text_field :title , :class => 'required'
      .help-block
        Title is used for search.
    
  %li.control-group
    =f.label :caption, :class => "control-label"
    .controls
      =f.text_field :caption
  
  %li.control-group
    =f.label :description
    .controls
      =f.text_area :description, :rows => 3

%ul.form-list.label-left.list-bordered
  %li.section-form
    %h4
      Categories
  %li.control-group
    -categories = Category.where('image = 1') 
    -if categories.count > 0
      -categories.each do |cat|
        %label.checkbox.inline
          =check_box_tag "image[category_ids][]",cat.id, @image.categories.include?(cat), :id => cat.id, :class => 'checkbox'
          =cat.name   
      .help-block
        Check category to update asset.
    -else
      %p
        No categories assoicated with images.
        =link_to 'Go to categories', admin_categories_path,:class => 'btn btn-yellow'
