.navbar.navbar-page
	.navbar-inner
		.container
			%ul.nav.pull-right
				-if can? :create, User
					%li.divider-vertical
					%li
						=link_to content_tag(:i, '', :class => 'fontello-icon-user') + ' New User',new_admin_user_path
					%li.divider-vertical
					%li
						=link_to content_tag(:i, '', :class => 'fontello-icon-login') + ' New User Invitation', new_user_invitation_path
				%li.divider-vertical
				%li
					=link_to content_tag(:i, '', :class => 'fontello-icon-pencil') + ' Edit Password', edit_user_registration_path

=content_for :page_title do 
	%h1.page-title
		Users

=render "users"