%div{:class => 'data-container full form-container'}
	%div{:class => 'data-container-header'}
		%h2
			Update password
	%div{:class => 'data-container-content'}
	=form_for(@user, :url => { :action => "update_password" } ) do |f|
		%ul
			= f.label :password, "Password"
			%div{:class => "controls"}
				= f.password_field :password, :autocomplete => "off"
		%li
			= f.label :password_confirmation
			%div{:class => "controls"}
				= f.password_field :password_confirmation 
		%div{:class => "submit-group"}
			=f.submit "Save", :class =>'button btn-primary'