=content_for :page_title do
  %h1.page-title
    YouTube
.navbar.navbar-page
  .navbar-inner
    .container
      %ul.nav.pull-right
        %li.divider-vertical
        %li
          =link_to content_tag(:i,'',:class => 'fontello-icon-youtube') + ' New Youtube',new_admin_youtube_path, :class => 'fboxForm fancybox.ajax'
   
=render 'youtubes'